<div class = "col-xs-6">
  <h1>user edit</h1>
  <%= form_with model: current_user do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %><br>
    <%= f.label :email%>
    <%= f.text_field :email %><br>
    <%= f.label :introduction%>
    <%= f.text_area :introduction %><br>
    <%= f.submit "ä¿å­˜"%>
  <% end %>
</div>