<div class = "col-xs-12 user_back_image" style = 'padding: 0;'>
  <%= attachment_image_tag @user, :roll_image, :fill,703,200, class: "image-circle profile-thub"%>
</div>
<%= attachment_image_tag @user, :image, :fill,100,100, class: "image-circle pull-left profile-thub rounded_corners icon_position user_icon_border", fallback: "no_image.jpg", size:'100x100' %>
<div class = "col-xs-12 user_info">
  <div style = "padding-left: 10px; font-size: 20px">
    <%= form_with model: @user do |f| %>
      <%= f.label :'名前'%><br>
      <%= f.text_field :name, class: "input_post"%><br>
      <%= f.label :'自己紹介'%>
      <%= f.text_area :introduction, class: "input_post" %><br>
      <%= f.label :image, class: "iamge_icon_button image_icon_position" do %>
        <i class="fas fa-camera"></i>
        <%= f.attachment_field :image,style: "display: none;", accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
      <% end %>
      <%= f.label :roll_image, class: "roll_iamge_icon_button roll_image_position" do %>
        <i class="far fa-images"></i>
        <%= f.attachment_field :roll_image,style: "display: none;", accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
      <% end %>
      <%= f.submit "更新"%>
    <% end %>
  </div>
</div>
