<div class = "col-xs-12 user_back_image" style = 'padding: 0;'>
  <%= attachment_image_tag @user, :roll_image, :fill,703,200, class: "image-circle profile-thub"%>
</div>

<div class = "col-xs-12 user_info">
  <div style = "padding-left: 10px; font-size: 20px; padding-top: 10px">
    <%= @user.name%>
  </div>

  <div class = "col-xs-12" style = "text-align: right;">
    <% if @user == current_user %>
      <%= link_to edit_user_path(@user),class: "no_line" do%>
      <i class="fas fa-edit"></i>プロフィールを編集する
      <% end %>
    <% else %>
      <div id = follow_buttons>
        <%= render 'relationships/follow_button', user: @user%>
      </div>
    <% end %>
  </div>

  <div style = "padding-left: 15px; font-size: 17px">
    <%= @user.introduction%>
  </div>
</div>

<%= attachment_image_tag @user, :image, :fill,100,100, class: "image-circle pull-left profile-thub rounded_corners icon_position user_icon_border", fallback: "no_image.jpg", size:'100x100' %>

<div id = "user_posts">
  <%= render 'posts/user_posts', posts: @user.posts%>
</div>