<div class = "col-xs-12 user_back_image"></div>
<div class = "col-xs-12 user_info">
  <div style = "padding-left: 10px; font-size: 20px">
    <%= @user.name%>
  </div>
  <div class = "col-xs-12" style = "text-align: right;">
    <%= link_to "プロフィールを編集",edit_user_path(@user),class: "no_line"%>
  </div>
  <div style = "padding-left: 15px; font-size: 17px">
    <%= @user.introduction%>
  </div>
</div>
<%= attachment_image_tag @user, :image, :fill,100,100, class: "image-circle pull-left profile-thub rounded_corners icon_position", fallback: "no_image.jpg", size:'100x100' %>

<div id = "user_posts">
  <%= render 'posts/user_posts'%>
</div>