
<div class = 'col-xs-1'></div>

<div class = 'col-xs-6'>

  <div class  = 'home_top'>
    <h1>ようこそGamaniへ！</h1>
    <p>このサイトはゲーマーが交流するためのSNSサイトです。</p>
    <p>今何をしているかタイムラインに投稿したり、</p>
    <p>好きなゲームの質問や意見交換を掲示板でしたり、</p>
    <p>いろいろな人と交流して友達を増やしてみましょう！</p>
  </div>

</div>

<div class = 'col-xs-5' style = 'padding-top: 10px;'>
  <h2 style = 'color: white;'>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="field">
      <%= f.label :email ,style: 'color:white'%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,style: 'width:80%;border-radius: 5px;'%>
    </div>

    <div class="field">
      <%= f.label :password ,style: 'color:white'%><br />
      <%= f.password_field :password, autocomplete: "current-password",style: 'width:80%;border-radius: 5px;' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :'ログイン状態を保持する' ,style: 'color:white'%>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>