<div class = 'col-xs-12'>
  <p class = "tittle_home" style = 'padding-left: 20px'><i class="fas fa-clipboard-list"></i>スレッドを作成する</p>
</div>
<%= link_to game_genles_path do%>
  <h3>ジャンルを作成する</h3>
<% end %>

<%= link_to game_tittles_path do%>
  <h3>タイトルを作成する</h3>
<% end %>

<h3>スレッドを作成する</h3>
<%= form_with model: @new_thread do |f| %>
  ゲームジャンル<%= select_tag :game_genle_id, options_from_collection_for_select(GameGenle.all, :id, :name) %><br>
  ゲームタイトル<%= f.select :game_tittle_id,GameTittle.all.map{|game_tittle| [game_tittle.name,game_tittle.id]}%><br>
  スレッドタイトル
  <%= f.text_field :name %>
  <%= f.submit "スレッド作成"%>
<% end %>