<div class = 'col-xs-12'><p class = "tittle_home">ホーム</p></div>
<div class = 'col-xs-12 form_container'>
  <div class = "col-xs-2" style = "padding: 10px 0px 0px 5px;">
    <%= attachment_image_tag current_user, :image, :fill,60,60, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'60x60' %>
  </div>
  <div class = "col-xs-10 new_form" style = "text-align: right;">
    <%= form_with model: post, url: posts_path(post), metod: :post do |f|%>
      <%= f.text_area :sentence,class: "input_post", required: true, :placeholder => "どんな事して過ごしてる？"%>
      <%= f.attachment_field :post_images_images, multiple: true %>
      <%= button_tag type: 'submit', class: 'btn btn-primary' do%>
        投稿する
      <% end %>
    <% end %>
  </div>
</div>