<% posts.each do |f| %>
  <div class = "col-xs-12 post_container">
    <div class = "col-xs-2" style = 'padding-top: 15px;'>
      <%= attachment_image_tag f.user, :image, :fill,60,60, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'60x60' %>
    </div>
    
    <div class = "col-xs-10 post_sentence" style = "padding-right: 0; padding-left: 0">

      <div class = "col-xs-12">
        <%= link_to f.user.name, f.user %>
        <% if (f[:created_at].to_s.match(/#{Date.today.to_s}.+/)) %>
        <!--Date.todayは、今日の年月日を取得できる。matchメソッドを使用し、hogeのレコード内に今日の年月日があるかどうか確認。
　　　　  to_sで文字列に変換しているのは、matchメソッドは文字列にしか適用できないため。-->

          <%= time_ago_in_words(f.created_at)%>前
        <% else %>
          <%= f.created_at.strftime('%Y/%m/%d')%>
        <% end %>
      </div>

      <%= link_to (f) do%>
        <div class = "col-xs-12" style = "padding-right: 0; padding-top: 5px; padding-bottom: 5px;">
          <%= f.sentence %>
        </div>
      <% end %>

      <div class = 'row' style = 'margin: 0;'>
        <% if f.post_images.count == 1%>
          <div class = 'col-xs-12' style = 'padding: 10px 80px 10px 80px;'>
            <%= attachment_image_tag f.post_images[0], :image, :fill,300,300, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'300x300' %>
          </div>
        <% elsif f.post_images.count == 2%>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
          <%= attachment_image_tag f.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
          <%= attachment_image_tag f.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <% elsif f.post_images.count == 3%>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
            <%= attachment_image_tag f.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
            <%= attachment_image_tag f.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
            <%= attachment_image_tag f.post_images[2], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          </div>
        <% elsif f.post_images.count == 4%>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
            <%= attachment_image_tag f.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
            <%= attachment_image_tag f.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
            <%= attachment_image_tag f.post_images[2], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
            <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
            <%= attachment_image_tag f.post_images[3], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
          </div>
        <% end %>
      </div>
    
      <div class = "col-xs-4 post_icons">
        <%= link_to (f) do%>
          <i class="far fa-comments"></i>
          <% if f.post_comments.count != 0%>
            <%= f.post_comments.count%>コメント
          <% else %>
            コメント
          <% end %>
        <% end %>
      </div>

      <div class = "col-xs-4 post_icons">
        <div id="favorites_buttons_<%= f.id %>">
          <%= render 'favorites/favorite', post: f %>
        </div>
      </div>

      <div class = "col-xs-4 post_icons">
        <% if f.user == current_user %>
          <%= link_to post_path(f),method: :delete do%>
            <i class="fas fa-trash"></i>
            削除
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
<% end %>