<div class = "container">
  <div class = "row">

    <div class = "col-xs-3">
      <h1>user info</h1>
      <%= link_to 'user_edit', edit_user_path(@user) %>
    </div>
      
    <div class = "col-xs-6">
      <%= form_with model: @post do |f|%>
        <%= f.text_field :sentence%>
        <%=f.submit "送信"%>
      <% end %>

      <h3>投稿</h3>
      <% current_user.posts.each do |f| %>
        <%= link_to (f) do%>
        <%= f.sentence %>
        <%= f.post_comments.count %>
      <% end %>
      <%= link_to "削除",post_path(f),method: :delete %>
      <% end %>
    </div>

    <div class = "col-xs-3">
    <h4>お気に入りスレッド一覧</h4>
    <%= link_to chat_threads_path do%>
      <h5>スレッド一覧へ</h5>
    <% end %>

    </div>

  </div><!--end of row-->
</div><!--end of container-->