
<div class = "col-xs-12 post_container">
  <div class = "col-xs-2" style = 'padding-top: 15px;'>
    <%= attachment_image_tag @post.user, :image, :fill,60,60, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'50x50' %>
  </div>
  <div class = "col-xs-10 post_sentence" style = "padding-right: 0; padding-left: 0">

    <div class = "col-xs-12">
      <%= link_to @post.user.name, @post.user %>
    </div>

    
    <div class = "col-xs-12" style = "padding-right: 0;">
      <%= @post.sentence %>
    </div>
    

    <div class = 'row' style = 'margin: 0;'>
      <% if @post.post_images.count == 1%>
        <div class = 'col-xs-12' style = 'padding: 10px 80px 10px 80px;'>
          <%= attachment_image_tag @post.post_images[0], :image, :fill,300,300, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'300x300' %>
        </div>
      <% elsif @post.post_images.count == 2%>
      <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
        <%= attachment_image_tag @post.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
      </div>
      <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
        <%= attachment_image_tag @post.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
      </div>
      <% elsif @post.post_images.count == 3%>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
          <%= attachment_image_tag @post.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          <%= attachment_image_tag @post.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          <%= attachment_image_tag @post.post_images[2], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
        </div>
      <% elsif @post.post_images.count == 4%>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px'>
          <%= attachment_image_tag @post.post_images[0], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          <%= attachment_image_tag @post.post_images[1], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          <%= attachment_image_tag @post.post_images[2], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
          <div class = 'col-xs-6' style = 'padding: 10px 5px 10px 15px;'>
          <%= attachment_image_tag @post.post_images[3], :image, :fill,200,200, class: "image-circle pull-left profile-thub rounded_corners", fallback: "no_image.jpg", size:'200x200' %>
        </div>
      <% end %>
    </div>
  
    <div class = "col-xs-4 post_icons">
      <%= link_to (@post) do%>
        <i class="far fa-comments"></i>
        <% if @post.post_comments.count != 0%>
          <%= @post.post_comments.count%>コメント
        <% else %>
          コメント
        <% end %>
      <% end %>
    </div>

    <div class = "col-xs-4 post_icons">
      <div id="favorites_buttons_<%= @post.id %>">
        <%= render 'favorites/favorite', post: @post %>
      </div>
    </div>
    <div class = "col-xs-4 post_icons">
      <%= link_to post_path(@post),method: :delete, remote: true do%>
        <i class="fas fa-trash"></i>
        削除
      <% end %>
    </div>
  </div>
</div>

<div id="post_comments">
  <%= render 'post_comments/post_comments', post_comment: @post_comment,post: @post %>
</div>