<!DOCTYPE html>
<html>
  <head>
    <title>Gamani</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a4fa90b777.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class = "container-fluid">
        <div class = "row height-fixed">
          <div class = "col-xs-3">
            
            <div class = 'col-xs-12 home_icon' style = 'padding-top: 50px'>
              <div class = 'home_button'>
                <%= link_to users_home_path do%>
                  <%= icon 'fas', 'gamepad' %>
                  Ga-mani
                <% end %>
              </div>
            </div>
          
            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to users_home_path do%>
                  <%= icon 'fas', 'home' %>
                  HOME
                <% end %>
              </div>
            </div>

            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to user_path(current_user) do%>
                <%= attachment_image_tag current_user, :image, :fill,35,35, class: "image-circle pull-left profile-thub rounded_corners ", fallback: "no_image.jpg", size:'35x35' %>
                  プロフィール
                <% end %>
              </div>
          </div>

          <div class = 'col-xs-12 home_icon home_button' >
            <div>
              <%= link_to destroy_user_session_path,method: :delete do%>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
              <% end %>
            </div>
          </div>

          <div class = 'col-xs-12 home_icon'>

              <%= form_tag(users_path , method: :get) do %>
              <div class = 'col-xs-12' style = 'padding: 5px 0px 5px 0px'>
                <%= text_field_tag(:search_word,params[:search_word],style: 'border-radius: 5px;',placeholder: 'キーワード')%>
              </div>

              <div class = 'col-xs-12'>
                <%= select_tag(:search_content,options_for_select([["投稿検索","post"], ["ユーザー検索","user"], ["スレッド検索","thread"]]))%>
                <%= submit_tag "検索" ,class: 'search_submit'%>
              </div>

              <% end %>
            </div>

        </div>

          <div class = "col-xs-6 scroll time_line" style = "padding: 0;">
            <!--==========-->
            <%= yield %>
            <!--==========-->
          </div>

          <div class = "col-xs-3 home_icon">
            <p style = "font-size: 20px; color: white;">お気に入りスレッド一覧</p>
            <% threads = current_user.favorite_threads%>
            <% threads.order(updated_at: :desc).each do |thread|%>
              <div class = 'col-xs-12' style = 'padding: 0;'>
                <div style = 'float: left;'>
                  <%= link_to chat_thread_path(thread.chat_thread)  do%>
                  <%= thread.chat_thread.name %>
                  （<%= thread.chat_thread.responses.count %>）
                  <% end %>
                </div>
                <div class = 'favorite_thread_buttons_<%= thread.chat_thread_id %>' style = 'float: left;'>
                  <%= render 'favorite_threads/favorite_thread',chat_thread: thread.chat_thread %>
                </div>
              </div>
            <% end %>
          </div>

        </div><!--end of row-->
      </div><!--end of container-->
    <% else%>
      <!--==========-->
      <%= yield %>
      <!--==========-->
    <% end %>
  </body>
</html>
