<!DOCTYPE html>
<html>
  <head>
    <title>Gamani</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class = "container">
      <div class = "row height-fixed">

        <div class = "col-xs-3">

          <div class = "col-xs-1"></div>
          <div class = col-xs-11>
            <h2>
              <%= link_to users_home_path do%>
                <%= icon 'fas', 'gamepad' %>
              <% end %>
            </h2>
          </div>
          
          <div class = "col-xs-1"></div>
          <div class = col-xs-11>
            <div class = "home_button">
              <%= link_to users_home_path do%>
                <%= icon 'fas', 'home' %>
                HOME
              <% end %>
            </div>
          </div>
          
          <div class = "col-xs-1"></div>
          <div class = col-xs-11>
            <div class = "home_button">
              <%= link_to "#" do%>
                <%= icon 'fas', 'search-plus' %>
                投稿を検索
              <% end %>
            </div>
          </div>
          
          <div class = "col-xs-1"></div>
          <div class = col-xs-11>
            <div class = "home_button">
              <%= link_to user_path(current_user) do%>
                <%= icon 'far', 'id-card' %>
                プロフィール
              <% end %>
            </div>
          </div>

        </div>
        
        <div class = "col-xs-6 scroll" style = "padding: 0;">
          <!--==========-->
          <%= yield %>
          <!--==========-->
        </div>

        <div class = "col-xs-3">
          <p style = "font-size: 20px; color: green;">お気に入りスレッド一覧</p>
          <%= link_to chat_threads_path do%>
            <h5>スレッド一覧へ</h5>
          <% end %>
        </div>

      </div><!--end of row-->
    </div><!--end of container-->
  </body>
</html>
