<!DOCTYPE html>
<html>
  <head>
    <title>Gamani</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a4fa90b777.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class = "container-fluid">
        <div class = "row height-fixed">

          <div class = "col-xs-3">
            
            <div class = 'col-xs-12 home_icon' >
              <h2>
                <%= link_to users_home_path do%>
                  <%= icon 'fas', 'gamepad' %>
                <% end %>
              </h2>
            </div>
          
            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to users_home_path do%>
                  <%= icon 'fas', 'home' %>
                  HOME
                <% end %>
              </div>
            </div>
            
            
            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to "#" do%>
                  <%= icon 'fas', 'search-plus' %>
                  投稿を検索
                <% end %>
              </div>
            </div>

            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to users_path do%>
                  <i class="fas fa-user-friends"></i>
                  ユーザーを検索
                <% end %>
              </div>
            </div>
            
            
            <div class = 'col-xs-12 home_icon' >
              <div class = "home_button">
                <%= link_to user_path(current_user) do%>
                <%= attachment_image_tag current_user, :image, :fill,35,35, class: "image-circle pull-left profile-thub rounded_corners ", fallback: "no_image.jpg", size:'35x35' %>
                  プロフィール
                <% end %>
              </div>
          </div>

          <div class = 'col-xs-12 home_icon home_button' >
            <div>
              <%= link_to destroy_user_session_path,method: :delete do%>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
              <% end %>
            </div>
          </div>

        </div>

          
          <div class = "col-xs-6 scroll time_line" style = "padding: 0;">
            <!--==========-->
            <%= yield %>
            <!--==========-->
          </div>

          <div class = "col-xs-3 home_icon">
            <p style = "font-size: 20px; color: white;">お気に入りスレッド一覧</p>
            <%= link_to chat_threads_path do%>
              <h5>スレッド一覧へ</h5>
            <% end %>
          </div>

        </div><!--end of row-->
      </div><!--end of container-->
    <% else%>
      <%= yield %>
    <% end %>
  </body>
</html>
